<main>
  <section>
    <h1>TODO List</h1>
    <p>A Place to store your todos</p>
    <form action="">
      <input type="text" name="filter" placeholder="Filter your to-dos" />
    </form>
    <ol *ngFor="let item of todos; index as i">
      <li>
        <!-- item is a placeholder of todos -->
        <div class="item_container">
          <button
            *ngIf="!item.completed"
            class="complete_btn"
            (click)="completedTask(item)"
          >
            Complete
          </button>
          <p class="task" [ngClass]="{ completed: item.completed }">
            {{ item.task }}
          </p>
          <button (click)="removeTask(item)" class="del">X</button>
        </div>
      </li>
    </ol>
    <form action="">
      <input type="text" name="todo" placeholder="Add Your to-do" #newTask />
      <button class="add" (click)="addTask(newTask.value)">Add</button>
    </form>
  </section>
</main>
